.box_category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}
.box_subCategory{
    display: block;
    transition: all 300ms ease-in;
}
.box_subCategory:hover{
    transform: translateY(-20px);
}
.box_subCategory:hover .box_imgCategory{
    border: 7px solid #f4a702;
}
.box_subCategory:hover img{
    transform:rotate(10deg)
}
.box_subCategory:hover .text_category{
    color: #db9600;
}

.box_imgCategory{
    border: 2px solid green;
    border-radius: 106px;
    height: 220px;
    width: 220px;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    transition: all 500ms ease-in;
}
.img_category{
    height: 152px;
    width: 130px;
    transition: all 300ms ease-in;
}
.text_category{
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
}

.title_category{
    position: relative;
}
.title_category::before{
    content: "";
    position: absolute;
    width: 39%;
    height: 2px;
    background-color: #f89000;
    right: 45px;
    top: 20px;

}
.title_category::after{
    content: "";
    position: absolute;
    width: 39%;
    height: 2px;
    background-color: #f89000;
    left: 45px;
    top: 20px;

}
.span_category{
    background-color: #087303;
    font-size: x-large;
    border-radius: 20px;
    color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: 200;
}

@media screen and (max-width:770px) {
    .title_category::after {
        width: 0;
    }
    .title_category::before {
        width: 0;
    }
}

@media screen and (max-width:465px) {
    .box_category{
        justify-content: center;
        row-gap: 30px;
    }
    .title_category::after {
        width: 0;
    }
    .title_category::before {
        width: 0;
    }
    
}